body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  	font-size: 18px;
  	color: #777;
  	line-height: 34px;
  	background: url("../images/concrete_seamless.png");
}

* {
	box-sizing: border-box;
}

#header-logo{
	background-color: #4aaaa5;
	color: #ffffff;
}

.nav-header{
	background-color: #ffffff;
}

.nav-header-txt{
	color: #dddddd;
}

.main-section{
	background-color: #ffffff;
}

.section-header {
	color: #4aaaa5;
}

.profile-pic {
	width: 200px;
	height: auto;
	margin-top: 10px;
	margin-right: 25px;
	float: left;
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.footer-spacer {
	background-color: #4aaaa5;
	height: 7px;
}

.footer-copyright {
	background-color: #666666;
	text-align: center;
	color: #ffffff;
}

.potfolio-card {
	position: relative;
}

.potfolio-card-ribbon {
	position: absolute; 
	left: 15px;
	bottom: 15px; 
	text-align: center; 
	background-color: #4aaaa5; 
	color: #ffffff; 
	float: left; 
	width: 200px; 
	z-index:1;
}

.potfolio-text {
	background-color: #4aaaa5;
}